In [ ]:
import os

os.getcwd()

In [1]:
import pandas as pd

excel_filename = 'field_2024/Official_Fieldbook_23_24_Full_incomplete.xlsx'

data_xlsx = pd.read_excel(excel_filename)

In [6]:
data_xlsx.head(10)

,year,location,study,line_id,plot_num,line_num,range_field,row_field,range_study,row_study,...,height,awn,fhb,pm,glume_blotch,snb,tan_spot,bydv,stripe_rust,leaf_rust
0,2024,beltsville,wvt,516,28,28,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,beltsville,wvt,3329,128,128,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,beltsville,wvt,EPIX 3498,49,49,3,2,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,beltsville,wvt,EPIX 3489,48,48,4,2,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,beltsville,wvt,7-MD131/JAGGER,101,101,5,2,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024,beltsville,wvt,MBX 127,19,19,6,2,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024,beltsville,wvt,MBX 223,22,22,7,2,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024,beltsville,wvt,19MD_1-9-37,108,108,8,2,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2024,beltsville,wvt,MAS #155,52,52,9,2,9,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024,beltsville,wvt,FHB-MAS02-09-3,93,93,10,2,10,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
from openpyxl import load_workbook 

wb = load_workbook(excel_filename)

AttributeError: 'Workbook' object has no attribute 'sheet_names'

In [ ]:
for sheet in wb.sheetnames:
    print(sheet)
    df = pd.read_excel(excel_filename, sheet_name=sheet)
    df.to_csv(f"{sheet}.csv")

BV WVT
BV PNR
BV BVT
BV AYT+1
BV AYT+2
BV PYT1
BV PYT2
BV PYT3
BV AYT
BV Trit_200
BV Trit_21
BV Headrows Wheat
BV Headrows Trit NEED SYDNEY
CV WVT
CV GAWN
CV EUN
CV PNR
CV BVT
CV BPYT
CV AYT+1
CV AYT+2
CV AYT
CV PYT1
CV PYT2
CV PYT3
CV DH
CV Trit_21
CV Trit_36
CV Trit_200
CV DH Headrows MISSING DH3
CV F5 Headrows NEED TO FINISH
Wye WVT
Wye MAS
Wye Leading Edge
Wye MsDx
Wye UBW
Wye SUN
Wye PNR
Wye AYT+1
Wye AYT+2
Wye AYT
Wye BVT